<ion-header>
    <ion-toolbar class="header-background-color">
        <ion-buttons slot="start">
            <ion-menu-button menu="principal_menu"></ion-menu-button>
        </ion-buttons>
        <ion-text>
            <h5 style="margin-bottom: 0"><b>Régimen Subsidiado</b></h5>
            <h5 style="margin-top: 4px"><b>Estado:</b> ACTIVO</h5>
        </ion-text>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>