<app-header titulo="Autorizaciones" back_button="/home"></app-header>

<ion-content>
    <ion-card>
        <ion-item class="system-card" lines="none" detail="true">
            <ion-icon item-start name="create-outline"></ion-icon>
            <ion-title>Solicitar Autorización</ion-title>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item class="system-card" lines="none" detail="true">
            <ion-icon item-start name="search-sharp"></ion-icon>
            <ion-title>Consultar Autorización</ion-title>
        </ion-item>
    </ion-card>
</ion-content>