<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon slot="icon-only" name="bonfire"></ion-icon>
        </ion-buttons>
        <ion-title>
            Solicitudes Financiera
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

    <!-- Refresher -->

    <!-- Posts -->
    <!-- <app-solicitudes-financiera [solicitudes_financiera]="solicitudes_financiera"></app-solicitudes-financiera> -->

    <!-- Infinite Scroll -->

</ion-content>