<div class="solicitud-financiera">
    <ion-item lines="none">
        <ion-avatar slot="start">
            <img src="/assets/avatars/av-1.png" />
        </ion-avatar>
        <ion-label>
            <h3>Santiago</h3>
            <h5>santiagooo42@gmail.com</h5>
        </ion-label>
    </ion-item>

    <ion-slides mode="ios" pager="true" scrollbar="ios">
        <ion-slide class="image-slide" style="background-image: url('/assets/perro-1.jpg')">
        </ion-slide>
        <ion-slide class="image-slide" style="background-image: url('/assets/perro-2.jpg')">
        </ion-slide>
        <ion-slide class="image-slide" style="background-image: url('/assets/perro-3.jpg')">
        </ion-slide>
    </ion-slides>

    <ion-item lines="none">
        <ion-icon slot="start" name="heart-outline"></ion-icon>
        <ion-icon slot="end" name="bookmark-outline"></ion-icon>
    </ion-item>

    <ion-item lines="none">
        <ion-label text-wrap>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est laboriosam provident alias repellendus sequi ipsum voluptas eum, beatae incidunt perferendis voluptatem, illum rerum recusandae facere ex assumenda optio, eligendi libero.
        </ion-label>
    </ion-item>

</div>